<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>GetPhoto</servlet-name>
        <servlet-class>GetPhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePhoto</servlet-name>
        <servlet-class>UpdatePhoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChngPwd</servlet-name>
        <servlet-class>ChngPwd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginProcess</servlet-name>
        <servlet-class>LoginProcess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMessageAttachments</servlet-name>
        <servlet-class>SendMessageAttachments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPass</servlet-name>
        <servlet-class>ResetPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>talkprocess</servlet-name>
        <servlet-class>talkprocess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchpeople</servlet-name>
        <servlet-class>searchpeople</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetPhoto</servlet-name>
        <url-pattern>/GetPhoto</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Upload</servlet-name>
        <servlet-class>Upload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Upload</servlet-name>
        <url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DwnFile</servlet-name>
        <servlet-class>DwnFile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DwnFile</servlet-name>
        <url-pattern>/DwnFile</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePhoto</servlet-name>
        <url-pattern>/UpdatePhoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChngPwd</servlet-name>
        <url-pattern>/ChngPwd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginProcess</servlet-name>
        <url-pattern>/LoginProcess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMessageAttachments</servlet-name>
        <url-pattern>/SendMessageAttachments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPass</servlet-name>
        <url-pattern>/ResetPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>talkprocess</servlet-name>
        <url-pattern>/talkprocess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchpeople</servlet-name>
        <url-pattern>/searchpeople</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            3000
        </session-timeout>
    </session-config>
    <multipart-config>
        <location>/tmp</location>
        <max-file-size>20848820</max-file-size>
        <max-request-size>418018841</max-request-size>
        <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
</web-app>
